* {
  padding: 0px;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap {
  width: 80%;
  margin: auto;
  height: 100%;
}

nav .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .wrap > div {
  padding: 10px 0px;
}

.logo {
  padding: 0px 10px;
}

.logo a {
  font-weight: bolder;
  letter-spacing: 3px;
  text-decoration: none;
  color: #0f0f0f;
}

.logo a span {
  color: #0f0f0e;
}

.links {
  padding: 0px 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.links ul {
  width: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.links ul li a {
  color: #0f0f0f;
  text-decoration: none;
  font-weight: 500;
}

.links ul li img {
  width: 20px;
  height: 20px;
}

@media (max-width: 600px) {
  nav .wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  nav .wrap > div {
    width: 100%;
    text-align: center;
  }
  nav .links ul {
    margin: auto;
    width: 20%;
  }
}

header {
  padding: 40px 0px;
  width: 100%;
  height: 500px;
}

header .wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.images {
  padding: 0px 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.images .img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
}

.images .img img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.text {
  padding: 0px 10px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  grid-row: 1/1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text h1 {
  color: #0f0f0f;
  line-height: 150%;
  font-weight: 100;
  font-size: 40px;
}

.text p {
  width: 45ch;
  color: rgba(82, 82, 82, 0.788);
  line-height: 145%;
  padding: 10px 0px;
}

.text a {
  text-decoration: none;
  padding: 10px;
  background-color: #0f0f0e;
  color: #fcfcfd;
  border-radius: 5px;
  text-align: center;
  width: 150px;
}

.text a:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

@media (max-width: 600px) {
  header {
    padding: 0px;
  }
  header .wrap {
    width: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    position: relative;
  }
  header .wrap > div {
    position: absolute;
  }
  header .wrap .text {
    background-color: rgba(49, 49, 49, 0.61);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  header .wrap .text h1, header .wrap .text p {
    color: #ececec;
  }
  header .wrap .text h1 {
    line-height: 100%;
  }
}

section {
  padding: 40px 0px;
  width: 100%;
  height: 220vh;
}

section .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .wrap .center {
  text-align: center;
  padding: 20px 0px;
  color: rgba(82, 82, 82, 0.788);
  font-size: 36px;
}

.posts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, 300px);
  grid-gap: 10px;
}

.post {
  border: 1px solid rgba(82, 82, 82, 0.788);
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.post .post-img {
  overflow: hidden;
}

.post .post-img img {
  width: 100%;
  height: 500px;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
}

.post .post-text {
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.post .post-text h2 {
  line-height: 150%;
}

.post .post-text p {
  padding: 10px 0px;
  line-height: 150%;
  width: 60ch;
  color: rgba(32, 32, 32, 0.637);
}

.post .post-text a {
  border: 1px solid #0f0f0f;
  text-decoration: none;
  padding: 10px;
  color: #0f0f0f;
  border-radius: 5px;
  text-align: center;
  width: 150px;
}

.post .post-text a:hover {
  background-color: #0f0f0f;
  color: #fcfcfd;
}

.post .post-text a:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.post .post-text i {
  padding: 4px 0px;
  color: rgba(82, 82, 82, 0.788);
}

.more {
  border: 1px solid grey;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more a {
  border: 1px solid #0f0f0f;
  text-decoration: none;
  padding: 10px;
  color: #0f0f0f;
  border-radius: 5px;
  text-align: center;
  width: 150px;
}

.more a:hover {
  background-color: #0f0f0f;
  color: #fcfcfd;
}

.more a:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

@media (max-width: 600px) {
  section .wrap {
    width: 80%;
  }
  section .wrap .post {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  section .wrap .post .post-img {
    display: none;
  }
  section .wrap .post .post-text p {
    width: 40ch;
  }
}

footer {
  background-color: rgba(32, 32, 32, 0.637);
  border: 1px solid grey;
  width: 100%;
}

footer .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .wrap > div {
  padding: 10px 0px;
}

footer .logo {
  padding: 0px 10px;
}

footer .logo a {
  font-weight: bolder;
  letter-spacing: 3px;
  text-decoration: none;
  color: #0f0f0f;
}

footer .logo a span {
  color: #0f0f0e;
}

footer .links {
  padding: 0px 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .links ul {
  width: 6%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

footer .links ul li a {
  color: #0f0f0f;
  text-decoration: none;
  font-weight: 500;
}

footer .links ul li img {
  width: 20px;
  height: 20px;
}
/*# sourceMappingURL=index.css.map */